<footer class="footer bg-dark py-3 mt-auto">
    <div class="container d-flex justify-content-between">
        <span class="text-muted ">&copy; YelpCamp 2022</span><span class="text-muted text-end">Grzegorz Wolfinger</span>
    </div>
</footer>