<% layout('layouts/boilerplate') %>
<div class="row">
  <div class="col-md-6 offset-md-3 col-xl-4 offset-xl-4">
    <div class="card shadow mt-4">
      <img
        src="https://res.cloudinary.com/dpnig0xon/image/upload/v1649671736/YelpCamp/vi7rb6rjj0flnbldzkd7.avif"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title">Register New Account</h5>
        <form
          class="needs-validation"
          method="POST"
          action="/register"
          novalidate
        >
          <div class="form-outline mb-4 mt-4">
            <input
              class="form-control form-control"
              type="text"
              name="username"
              id="username"
              autofocus
              required
            />
            <label class="form-label" for="username">Username</label>
            <div class="position-absolute top-100 end-0 valid-tooltip">
              Looks good!
            </div>
            <div class="invalid-tooltip">Please enter username</div>
          </div>
          <div class="form-outline mb-4">
            <input
              class="form-control form-control"
              type="email"
              name="email"
              id="email"
              required
            />
            <label class="form-label" for="email">Email</label>
            <div class="position-absolute top-100 end-0 valid-tooltip">
              Looks good!
            </div>
            <div class="invalid-tooltip">Please enter a valid email</div>
          </div>
          <div class="form-outline mb-4">
            <input
              class="form-control form-control"
              type="password"
              name="password"
              id="password"
              required
            />
            <label class="form-label" for="password">Password</label>
            <div class="position-absolute top-100 end-0 valid-tooltip">
              Looks good!
            </div>
            <div class="invalid-tooltip">Please enter a valid password</div>
          </div>
          <button class="btn btn-sm btn-block btn-primary">Register</button>
        </form>
      </div>
    </div>
  </div>
</div>
